<h1>Listing expenses</h1>

<table>
  <tr>
    <th>Created by</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Comments</th>
    <th>Paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.user.name %></td>
    <td><%= expense.category %></td>
    <td><%= number_to_currency(expense.amount.to_f) %></td>
    <td><%= truncate(expense.comments, :length => 20) %></td>
    <td><%= check_box_tag expense.id, "paid", expense.paid, :disabled => true %></td>
    <td><%= link_to 'Show', expense %></td>
    <% if (current_user.id == expense.created_by or current_user.admin?) %>
      <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
      <td><%= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
  <tr>
    <th>Total</th>
    <th></th>
    <th><%= number_to_currency(@total) %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br />

<%= link_to 'New Expense', new_expense_path %>
