<!DOCTYPE html>
<html>
<head>
  <title>Tracker by Lithos Labs</title>
  <%= stylesheet_link_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Jura&v2' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="backdrop">
    <div class="header">
      <p>Tracker<span class="small">By Lithos Labs</span></p>
    </div>
    <div class="sub_nav">
      <ul>
        <%= yield :sub_nav if user_signed_in? %>
        <% if user_signed_in? %>
          <li><%= link_to "Expenses", expenses_path %></li><li>|</li>
          <li><%= link_to "Categories", categories_path %></li><li>|</li>
          <li><%= link_to "Users", users_path %></li><li>|</li> 
          <li><%= link_to("Logout", destroy_user_session_path, :method => 'delete') %></li>
        <% end %>
      </ul>
    </div>
    <div class="container">
      <div class="main">
        <% if notice %><div class="notice"><%= notice %></div><% end %>
        <% if alert %><div class="alert"><%= alert %></div><% end %>
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <!--<a href="http://lithoslabs.com">LithosLabs.com</a>-->
    </div>
  </div>
</body>
</html>
